{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Регистрация</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>Имя пользователя</label>
        {{form.username}}
        <label>Пароль</label>
        {{form.password1}}
        <label>Повторите пароль</label>
         {{form.password2}}
        <input style="margin-top:10px ;" class="button" type="submit" value="Зарегистрировать">
    </form>
    <p>Уже есть аккаунт? <a href="{% url 'login' %}">Авторизация</a></p>
</div>

{% endblock content %}